p{
    color:rgb(205, 35, 63);
}
.display1{
    display:none;
}
.display2{
    display:block;
    width:200px;
    height:50px;
    line-height:50px;
}
.display3{
    display:inline;
    width:200px;
    height:50px;
    line-height:50px;
}
.display4{
    display:inline-block;
    width:200px;
    height:50px;
    line-height:50px;
    font-size:30px;
}
/* body{
    background-image:url(/image/Flower.jpg)
} */
 h2{
    border: 2px solid black;
    border-radius: 10px;
 }