.container{
    display:grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns:30% 30% 40%; */
  /*  grid-template-columns: 300px 300px 400px; */
    
   
   
    padding:10px;

}
body{
    background-color: rgb(219, 175, 158);
}
.box{
    margin-left: 50px;
   text-align: justify;
   margin-right: 90px;
   border-radius: 5%;
   /* border:2px dotted blue; */
}
@media(max-width:800px){
    .container{
        grid-template-columns: 1fr;
        background-color: rgb(173, 140, 226);
    }
}